<section class="mt-3" fxLayout="row" fxLayoutAlign="center center">
  <h2>Create New Restaurant</h2>
</section>
<form #f="ngForm" (ngSubmit)="saveRestaurant(f)">
  <section fxLayout="row wrap">
    <section fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center" fxFlex="100">
      <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxFlex="50">
        <mat-form-field class="item">
          <input
            matInput
            placeholder="Restaurant Name"
            ngModel
            #restaurantName="ngModel"
            name="name"
            required
          >
          <mat-error *ngIf="restaurantName.hasError('required')">Restaurant cannot be blank</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <input
            matInput
            placeholder="Address Line 1"
            ngModel
            #address1="ngModel"
            name="address1"
            required
          >
          <mat-error *ngIf="address1.hasError('required')">Address Line cannot be blank</mat-error>
        </mat-form-field>
      </section>
      <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxFlex="50">
        <mat-form-field class="item">
          <input
            matInput
            placeholder="Address Line 2"
            ngModel
            #address2="ngModel"
            name="address2"
            required
          >
          <mat-error *ngIf="address2.hasError('required')">Address Line cannot be blank</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <input
            type="number"
            matInput
            placeholder="Postal Code"
            ngModel
            [pattern]="postalCodePattern"
            #pincode="ngModel"
            name="pincode"
            [min]="minPostalCode"
            [max]="maxPostalCode"
            step="1"
            required
          >
          <mat-error *ngIf="pincode.hasError('pattern')">Invalid Postal Code</mat-error>
          <mat-error *ngIf="pincode.hasError('required')">Postal Code required</mat-error>
        </mat-form-field>
      </section>
    </section>
    <section fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center" fxFlex="100">
      <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxFlex="50">
        <mat-form-field class="item">
          <mat-select
            placeholder="City"
            ngModel
            #city="ngModel"
            name="city"
            required
          >
            <mat-option *ngFor="let item of cityList" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="city.hasError('required')">City selection required</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <span matPrefix>+91&nbsp;</span>
            <input placeholder="Phone Number"
                   type="number"
                   matInput
                   ngModel
                   [pattern]="mobileNumberPattern"
                   #phone="ngModel"
                   name="phone"
                   required
            >
          <mat-error *ngIf="phone.hasError('pattern')">Invalid Phone Number</mat-error>
        </mat-form-field>
      </section>
      <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxFlex="50">
        <mat-form-field class="item">
          <span matPrefix>http://</span>
          <input
            type="url"
            matInput
            placeholder="URL"
            ngModel
            [pattern]="urlPattern"
            #urlModel="ngModel"
            name="website"
            required
          >
          <mat-error *ngIf="urlModel.hasError('pattern')">Invalid URL</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <input
            type="email"
            matInput
            placeholder="Email ID"
            ngModel
            email
            #emailModel="ngModel"
            name="email"
            required
          >
          <mat-error *ngIf="emailModel.hasError('pattern')">Invalid Email ID</mat-error>
        </mat-form-field>
      </section>
    </section>
  </section>

  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Save</button>
    <button type="button" mat-raised-button color="accent" (click)="f.resetForm()">Clear</button>
  </section>


</form>
