<!--<a mat-list-item [ngStyle]="{'padding-left': (depth * 20) + 'px'}" (click)="onItemSelected(item)"-->
<!--[ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">-->
<!--<mat-icon class="routeIcon" color="primary">{{item.iconName}}</mat-icon>-->
<!--{{item.displayName}}-->
<!--<span fxFlex *ngIf="item.children && item.children.length">-->
<!--<span fxFlex></span>-->
<!--<mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" color="primary">-->
<!--expand_more-->
<!--</mat-icon>-->
<!--</span>-->
<!--</a>-->
<!--<div *ngIf="expanded">-->
<!--<app-sidenav-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">-->
<!--</app-sidenav-list>-->
<!--</div>-->


<!--// correct-->

<!--<a mat-list-item (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}" style="max-width: 100%">-->
<!--<mat-icon class="routeIcon" color="primary" [ngStyle]="{'padding-left': (depth * 20) + 'px'}" >{{item.iconName}}</mat-icon>-->
<!--{{item.displayName}}-->
<!--<span fxFlex *ngIf="item.children && item.children.length">-->
<!--<span fxFlex></span>-->
<!--<mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" color="primary">-->
<!--expand_more-->
<!--</mat-icon>-->
<!--</span>-->
<!--</a>-->
<!--<div *ngIf="expanded">-->
<!--<app-sidenav-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">-->
<!--</app-sidenav-list>-->
<!--</div>-->


<a mat-list-item (click)="onItemSelected(item)"
   [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
   style="max-width: 100%">
  <mat-icon class="routeIcon" color="primary"
            [ngStyle]="{'padding-left': (depth * 20) + 'px'}">{{item.iconName}}</mat-icon>
  {{item.displayName}}
  <span fxFlex *ngIf="item.children && item.children.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" color="primary">
        expand_more
      </mat-icon>
  </span>
  <span fxFlex *ngIf="item.shortcut && !isMobile">
    <span fxFlex></span>
    <h6><b><i>{{item.shortcut}}</i></b></h6>
  </span>
</a>
<div *ngIf="expanded">
  <app-sidenav-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-sidenav-list>
</div>
