.mat-drawer-container {
    height: 100%;
}

mat-drawer {
    width: 280px;
    position: fixed;
    top: 50px;
}

mat-drawer-content {
    width: calc(100% - 280px);
    position: fixed;
    top: 58px;
}

.adjuster {
  top: 60px;
}

app-header {
    position: fixed;
    width:100%;
    z-index: 2;
}
